<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beihui.market">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="beihui.com"
                    android:pathPrefix="/home"
                    android:scheme="loanmarket" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WorthTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditJobGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ResetPsdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SysMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NoticeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ComWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePsdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RemindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserAuthorizationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SysMsgDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChoiceProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RecommendProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ThirdAuthorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreditCardWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AllDebtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DebtChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoanDebtDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DebtCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DebtAnalyzeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RewardPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoanProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DebtSourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DebtNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreditCardDebtNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreditCardBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HelpAndFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WeChatBindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WeChatSetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreditCardDebtDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyDebtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UsedEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NutEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EmailLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EmailLeadingInProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EmailLeadingInResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserCertificationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserPsdEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TabNewsWebViewSecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutKaolaActivity"
            android:screenOrientation="portrait" />

        <!-- 4.2.0添加账单 -->
        <!-- 4.2.0贷款账单 -->
        <activity
            android:name=".tang.activity.LoanBillActivity"
            android:screenOrientation="portrait" />
        <!-- 信用卡账单 -->
        <activity
            android:name=".tang.activity.CreditBillActivity"
            android:screenOrientation="portrait" />
        <!-- 创建账单 -->
        <activity
            android:name=".tang.activity.MakeBillActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索 -->
        <activity
            android:name=".tang.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!--账单详情-->
        <activity
            android:name=".tang.activity.NetLoanDetailActivity"
            android:screenOrientation="portrait" />
        <!--添加备注-->
        <activity
            android:name=".tang.activity.RemarkActivity"
            android:screenOrientation="portrait" />
        <!--信用卡详情-->
        <activity
            android:name=".tang.activity.CreditDetailActivity"
            android:screenOrientation="portrait" />
        <!--通用账单-->
        <activity
            android:name=".tang.activity.CommonDetailActivity"
            android:screenOrientation="portrait" />
        <!--快速记账页面-->
        <!-- 快速记账页面 -->
        <!-- 快速记账页面 -->
        <activity
            android:name=".ui.activity.FastAddDebtActivity"
            android:screenOrientation="portrait" />
        <!-- 快速记账详情页面 -->
        <activity
            android:name=".ui.activity.FastDebtDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 输入新手机号码 -->
        <activity
            android:name=".ui.activity.InputNewMobileActivity"
            android:screenOrientation="portrait" />
        <!-- 记账流程 -->
        <activity
            android:name=".ui.activity.AccountFlowActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 记账流程 账单类型选择 -->
        <activity
            android:name=".ui.activity.AccountFlowTypeActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心 账单类型选择 -->
        <activity
            android:name=".ui.activity.TabMineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- WebViewActivity -->
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".helper.updatehelper.DownloadService" />

        <receiver
            android:name=".getui.PushClickedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="send_push_clicked_event" />
            </intent-filter>
        </receiver>

        <!-- file provider, N feature -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${PACKAGE_NAME}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- getui setting -->
        <service android:name=".getui.PushReceiveIntentService" />
        <service
            android:name=".getui.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

        <!-- share setting -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- share setting end -->


        <!-- 小能客服 -->
        <activity
            android:name="cn.xiaoneng.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/XiaoNengAppTheme" />

        <activity
            android:name="cn.xiaoneng.activity.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.ShowCameraActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation|layoutDirection|touchscreen|locale|mnc|mcc|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTopRight" />
        <activity
            android:name="cn.xiaoneng.activity.ShowAlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="cn.xiaoneng.activity.ValuationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/valuationdialog" />
        <activity
            android:name="cn.xiaoneng.activity.ShowPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.XNExplorerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.VideoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.RecordVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.video.XNVideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 小能客服 -->


        <!-- umeng setting -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APP_KEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />
        <!-- umeng setting end -->

        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID}" />

        <!-- ********************************************* 魔蝎信用 ******************************************* -->
        <activity android:name="com.moxie.client.MainActivity" />
        <activity
            android:name="com.moxie.client.accessible.AccessibleCrawlerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="com.moxie.client.accessible.AccessibleCrawlerService"
            android:accessibilityFlags="flagReportViewIds"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessible_crawler_config" />
        </service>

        <activity
            android:name=".ui.activity.BillSummaryActivity"
            android:label="@string/title_activity_bill_summary"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>